img {
  position: absolute;
  width: 744px;
  height: 288px;
  transform: scale(0.25);
  animation: move 10s infinite;
}

@keyframes move {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: calc(100vw - 186px);
    top: 0;
    transform: scaleX(-1) scale(0.25);
  }
  50% {
    left: calc(100vw - 186px);
    top: calc(100vh - 72px);
    transform: rotate(180deg) scaleY(-1) scale(0.25);
  }
  75% {
    left: 0;
    top: calc(100vh - 72px);
    transform: scaleX(-1) scale(0.25);
  }
  100% {
    left: 0;
    top: 0;
    transform: rotate(360deg) scale(0.25);
  }
}
